.ActivitySession {
  width: 100%;
  height:150px ;
  max-width: 830px;
  /* border: 1px solid red; */
}
.ActivitySession > h2 {
  padding-left: 10px;
  margin: 5px;
}
.ActivityCardslist {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
}
.ActivityCardslist::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 440) {
  
  .ActivitySession {
  
    width:90vw;
    /* border: 1px solid red; */
  }
}
