.headerWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 10px 0p 10px;
  width: 100%;
  box-sizing: border-box;

  .searchSession {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
    // border: 1px solid red;
    gap: 10px;

    input {
      line-height: 1.5rem;
      width: 100%;
      border-radius: 40px;
      padding: 0px 30px;
      box-sizing: border-box;
      border-color: transparent;
      background-color: #dee6ec;
    }
  }
  .userSession {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    // width: 30%;
    min-width: 205px;
    padding: 0px 20px 0px 0px;
    box-sizing: border-box;
    // border: 1px solid red;
    gap: 20px;
  }
}
