.homeWrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.homeHeadder {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
  height: 15vh;


  .userSession {
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    i {
      font-size: 50px;
    }
    div {
      width: 200px;
      //   background-color: green;
      padding-left: 15px;
    }
  }
  .actionSession {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .actionButton {
      width: 100px;
      height: 30px;
      background-color: #e8a193;
      border: transparent;
      border-radius: 50px;
    }
  }
}
