.menuWrapper {
  max-width: 240px;
  min-width: 230px;
  background-color: #c3bbbb;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  height: 100vh;
//   border: 1px solid red;
  background: linear-gradient(white, rgba(195, 187, 187, 0.8));
  .menuSession {
    // border: 1px solid rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 0px;
    .menuHeading {
      min-height: 50px;
      margin: 0px;
      padding: 0px 5px;
      width: 100%;
    }
    .menuList {
      width: 100%;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 0px;
      padding-left: 0px;
    }
    .menuItem {
      display: flex;
      // border:1px solid green;
      height: 40px;
      justify-content: start;
      align-items: center;
      padding: 0px 20px 0px 20px;
      gap: 15px;
      a {
        text-decoration: none;
        color: black;
        font-weight: 800;
      }
    }
  }
}
